# Sheldon plugin configuration
# https://sheldon.cli.rs/Examples.html

shell = 'zsh'

[plugins.zsh-defer]
github = 'romkatv/zsh-defer'
hooks.post = '''
FPATH="$HOME/.docker/completions:$FPATH"
zsh-defer autoload -Uz compinit
zsh-defer compinit
zsh-defer source $ZSHRC_DIR/lazy.zsh
'''

[templates]
defer = "{{ hooks?.pre | nl }}{% for file in files %}zsh-defer source \"{{ file }}\"\n{% endfor %}{{ hooks?.post | nl }}"

[plugins.zsh-autosuggestions]
github = "zsh-users/zsh-autosuggestions"
use = ['{{ name }}.zsh']
apply = ['defer']

[plugins.zsh-completions]
github = "zsh-users/zsh-completions"
apply = ['defer']

[plugins.zsh-history-substring-search]
github = "zsh-users/zsh-history-substring-search"
use = ['{{ name }}.zsh']
apply = ['defer']

[plugins.zsh-syntax-highlighting]
github = 'zdharma-continuum/fast-syntax-highlighting'
apply = ['defer']

[plugins.zsh-autopair]
github = 'hlissner/zsh-autopair'
apply = ['defer']
hooks.pre = '''
export AUTOPAIR_INHIBIT_INIT=1
'''
# remove space from AUTOPAIR_PAIRS to avoid conflict with zeno.zsh
hooks.post = '''
unset 'AUTOPAIR_PAIRS[ ]'
zsh-defer autopair-init
unset AUTOPAIR_INHIBIT_INIT
'''

[plugins.zeno]
github = 'yuki-yano/zeno.zsh'
use = ['zeno.zsh']
apply = ['defer']

[plugins.brew]
inline = '''
[[ $OSTYPE == darwin* ]] && eval_source /opt/homebrew/bin/brew shellenv
'''

[plugins.starship]
inline = '''
eval_source starship init zsh
'''

[plugins.direnv]
inline = '''
eval_source direnv hook zsh
'''

[plugins.intelli-shell]
inline = '''
export INTELLI_SEARCH_HOTKEY='\es'
export INTELLI_BOOKMARK_HOTKEY='\ek'
export INTELLI_VARIABLE_HOTKEY='\ev'
export INTELLI_FIX_HOTKEY='\er'
zsh-defer eval_source intelli-shell init zsh
'''

[plugins.fzf]
inline = '''
export FZF_COMPLETION_TRIGGER=',,'
# default options
export FZF_DEFAULT_COMMAND='fd --type f --hidden --exclude '.git/''
export FZF_DEFAULT_OPTS='--height=40% --reverse --border'
# file widget
export FZF_CTRL_T_COMMAND='fffe -f'
export FZF_CTRL_T_OPTS="--preview 'bat --line-range :30 {}'"
# change dir widget
export FZF_ALT_C_COMMAND='fd --type d'
export FZF_ALT_C_OPTS="--preview 'tree {} | head -30'"
# history widget
export FZF_CTRL_R_OPTS='--reverse'
# initialize
eval_source fzf --zsh
'''

[plugins.by-binds-yourself]
github = 'atusy/by-binds-yourself'
use = ['by.zsh']
apply = ['defer']
