[include]
	path = ~/.gitconfig.local
[color]
	ui = auto
[core]
	autocrlf = false
	excludesfile = ~/.gitignore_global
	fscache = true
	ignorecase = false
	pager = diff-so-fancy | less --tabs=4 -RFX
	preloadindex = true
	quotepath = false
	editor = vim
[ghq]
	root = ~/ghq
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[alias]
	aliases = !git config --get-regexp alias | sed 's/^alias\\.//' | sed 's/ / = /' | sort
	current-branch = rev-parse --abbrev-ref HEAD
	default-branch = !git symbolic-ref refs/remotes/origin/HEAD | sed 's!.*/!!'
	discard = restore
	graph = log --graph --decorate --oneline
	git = !git
	new-branch = switch --create
	rename-branch = branch --move
	root = rev-parse --show-toplevel
	ss = status --short
	toggle-branch = switch -
	whoami = !git config --get-regexp user | sed 's/^alias\\.//' | sed 's/ / = /'
	uncommit = reset --soft HEAD^
	unstage = restore --staged
	upstream-branch = rev-parse --abbrev-ref --symbolic-full-name @{u}
[push]
	default = current
[pull]
	rebase = true
[fetch]
	prune = true
