[include]
	path = ~/.gitconfig.local
[init]
	defaultBranch = main
[color]
	ui = auto
[core]
	autocrlf = false
	excludesfile = ~/.gitignore_global
	fscache = true
	ignorecase = false
	pager = diff-so-fancy | less --tabs=4 -RFX
	preloadindex = true
	quotepath = false
	editor = nvim
[ghq]
	root = ~/ghq
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[alias]
	aa = add .
	age = __age
	aliases = !git config --get-regexp alias | cut -c7- | sed -e 's/ / = /' | sort
	allohistory = !git remember | xargs --no-run-if-empty --open-tty git rebase -i
	amend = commit --amend
	at = !git aa && git it
	autosquash = rebase -i --autosquash
	btf = rebase --continue
	current-branch = rev-parse --abbrev-ref HEAD
	cog = config --global --edit
	default-branch = !git symbolic-ref refs/remotes/origin/HEAD | sed 's!.*/!!'
	delete = branch --delete
	df = !git diff $(git default-branch)...$(git current-branch)
	discard = restore
	graph = log --graph --oneline
	git = !git
	fixup = !git remember | xargs --no-run-if-empty -I_ git commit --fixup _ && git rebase -i --autosquash
	history = log --numstat --pretty=format:'%C(auto)%h %C(blue)%cs%C(auto)%d %s %C(blue)[%cn]'
	it = __it
	list-branch = __list-branch
	new-branch = switch --create
	party = shortlog -nse
	rename-branch = branch --move
	remember = __remember
	remote-url = !git remote get-url origin | sed -E 's!^git@(.+):!\\1/!' | sed -e 's/\\.git$//'
	rewind = !git remember | xargs --no-run-if-empty git reset --soft
	root = !pwd
	save = stash save
	ss = status --short
	store = __store
	summary = __summary
	toggle-branch = switch -
	uncommit = reset --soft HEAD^
	unpushed = !git log --oneline $(git remote)/$(git current-branch)..$(git current-branch)
	unstage = restore --staged
	untracked = ls-files --others --exclude-standard
	upstream-branch = rev-parse --abbrev-ref --symbolic-full-name @{u}
	whoami = !git config --get-regexp user | cut -c6- | sed -e 's/ / = /'
[push]
	default = current
[pull]
	rebase = true
[fetch]
	prune = true
