[user]
	name = kawarimidoll
	email = kawarimidoll+git@gmail.com
[color]
	ui = auto
[core]
	excludesfile = ~/.gitignore_global
	pager = diff-so-fancy | less --tabs=4 -RFX
[ghq]
	root = ~/ghq
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[alias]
	current-branch = rev-parse --abbrev-ref HEAD
	new-branch = checkout -b
	rename-branch = branch -m
	uncommit = reset --soft HEAD^
