body.replys-hide div[data-testid="replyBtn"] > div {
  visibility: hidden;
}
body.replys-hover div[data-testid="replyBtn"] {
  > div {
    visibility: hidden;
  }
  &:hover {
    > div {
      visibility: visible;
    }
  }
}

body.reposts-hide {
  & div[data-testid="repostBtn"] {
    > div {
      visibility: hidden;
    }
  }
  & div[data-testid="repostCount"] {
    > span:nth-child(1) {
      visibility: hidden;
    }
  }
}
body.reposts-hover {
  & div[data-testid="repostBtn"] {
    > div {
      visibility: hidden;
    }
    &:hover {
      > div {
        visibility: visible;
      }
    }
  }
  & div[data-testid="repostCount"] {
    > span:nth-child(1) {
      visibility: hidden;
    }
    &:hover {
      > span:nth-child(1) {
        visibility: visible;
      }
    }
  }
}
/* always show message in modal */
div[data-testid="repostModal"] > div > div[data-testid="repostBtn"] > div {
  visibility: visible;
}

body.likes-hide {
  & div[data-testid="likeBtn"] {
    > div {
      visibility: hidden;
    }
  }
  & div[data-testid="likeCount"] {
    > span:nth-child(1) {
      visibility: hidden;
    }
  }
}
body.likes-hover {
  & div[data-testid="likeBtn"] {
    > div {
      visibility: hidden;
    }
    &:hover {
      > div {
        visibility: visible;
      }
    }
  }
  & div[data-testid="likeCount"] {
    > span:nth-child(1) {
      visibility: hidden;
    }
    &:hover {
      > span:nth-child(1) {
        visibility: visible;
      }
    }
  }
}

body.followers-hide div[data-testid="profileHeaderFollowersButton"] > div:nth-child(1) {
  visibility: hidden;
}
body.followers-hover div[data-testid="profileHeaderFollowersButton"] {
  > div:nth-child(1) {
    visibility: hidden;
  }
  &:hover {
    > div:nth-child(1) {
      visibility: visible;
    }
  }
}

body.following-hide div[data-testid="profileHeaderFollowsButton"] > div:nth-child(1) {
  visibility: hidden;
}
body.following-hover div[data-testid="profileHeaderFollowsButton"] {
  > div:nth-child(1) {
    visibility: hidden;
  }
  &:hover {
    > div:nth-child(1) {
      visibility: visible;
    }
  }
}

body.posts-hide div.css-175oi2r.r-iphfwy.r-779j7e.r-tskmnb > div:nth-child(4) > div:nth-child(3) > div:nth-child(1) {
  visibility: hidden;
}
body.posts-hover  div.css-175oi2r.r-iphfwy.r-779j7e.r-tskmnb > div:nth-child(4) > div:nth-child(3) {
  > div:nth-child(1) {
    visibility: hidden;
  }
  &:hover {
    > div:nth-child(1) {
      visibility: visible;
    }
  }
}

body.blueswan-show div.css-175oi2r.r-u8s1d.r-c6jqw7.r-1ki14p2.r-1w88a7h > div.css-175oi2r.r-1i6wzkk.r-lrvibr.r-1loqt21.r-1otgn73.r-zg41ew.r-f727ji.r-cfp7ip::after {
  content: '💙🦢';
}
